

      <div class="entry">
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-search fa-5x"></i>
          <h2>Find an event</h2>
          <p>Looking for an event in your area, just click on the link below and be taken</p>
          <p><a class="btn btn-default" href="#" role="button">Search Here &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-birthday-cake fa-5x"></i>
          <h2>Host an event.</h2>
          <p>Birthday, Scrapbooking, Coding, etc.  List your event here for the whole world to see.</p>
          <p><%= button_to "Host Event", new_event_path, :class => "btn btn-default", :method => :get %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-thumbs-o-up fa-5x"></i>
          <h2>Eventer Pro</h2>
          <p>Need to host more than 2 events a month, try eventer pro for $5 a month.  Coming Soon</p>
          <p><a class="btn btn-default" href="#" role="button">Coming Soon &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div><!-- /.container -->