

      <div class="entry">
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-search fa-5x"></i>
          <h2>Find an event</h2>
          <p>Looking for an event in your area, just click on the link below and be taken</p>
          <p><a class="btn btn-default" href="#" role="button">Search Here &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="fa fa-birthday-cake fa-5x"></i>
          <h2>Host an event.</h2>
          <p>Birthday, Scrapbooking, Coding, etc.  List your event here for the whole world to see.  Click below to start hosting.</p>
          <p><a class="btn btn-default" href="#" role="button">Submit Event &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div><!-- /.container -->